@charset "utf-8";

/******************************************************************************************************

		HOJA DE ESTILOS

*****************************************************************************************************/
*{
	padding: 0;
	margin: 0;	
}

p{
	color: #555;
	font-size: 14px;
	font-size: 1.4rem;
	font-weight: 400;
}

ul{
	padding: 0;
	margin: 0;
	list-style-type: none;
}

@font-face {
	font-family: "Montserrat700";
	src: url("../webfonts/mont700.woff2") format("woff2");
}

@font-face {
	font-family: "AwesomeSolid";
	src: url("../webfonts/fa-solid-900.woff2") format("woff2");
}

/*/////////////////////////////////////////////////*/

.navbar{
	z-index: 100;
}

/*/////////////////////////////////////////////////*/

textarea{
	resize: none;
}

header{
	height: 100vh;
	background-color: black;
	position: relative;
	width: 100%;
	display: flex;

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0.65+100 */
	background: -moz-linear-gradient(top, rgba(0,0,0,0.75) 0%, rgba(0,0,0,0.75) 100%), url(../img/cover.jpg) no-repeat center center fixed; /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(0,0,0,0.75) 0%,rgba(0,0,0,0.75) 100%), url(../img/cover.jpg) no-repeat center center fixed; /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(0,0,0,0.75) 0%,rgba(0,0,0,0.75) 100%), url(../img/cover.jpg) no-repeat center center fixed; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */

	background-size: cover;
}

.tbienvenida{
	font-family: 'Montserrat700', sans-serif;
	color: white;
	font-size: 3.0rem;
	text-align: left;
	padding-left: 5%;
}

.tbienvenida2{
	font-family: 'Montserrat700', sans-serif;
	color: white;
	font-size: 2.8rem;
	text-align: left;
	padding-left: 5%;
}

.pbienvenida{
	color: white;
	text-align: left;
	padding-left: 5%;
	max-width: 70%;
}

.barraNavegacion{
	text-align: center;
	width: 100%;
}

.navbar{
	position: fixed;
 	width: 100%;
 	padding-top: 20px;
 	padding-bottom: 10px;
}

.navbar-inverse .navbar-nav .nav-link {
    color: white;
    font-size: 18px;
    font-size: 1.2rem;
    padding-left: 15px;
    padding-right: 15px;
}

.libienvenida{
	display: inline-block;
	border:2px solid white;
	color: #fff;
	margin-top: 20px;
	padding: 10px 40px;
	text-decoration: none;
	font-size: 20px;
	font-size: 1.2rem;
	border-radius: 10px;
	float: left;
	margin-left: 6%;
}

.libienvenida i{
	margin-left: 10px;
}


.libienvenida:hover{
	color: white;
}


.navbar-inverse .navbar-nav .nav-link:hover:after{
    visibility: visible;
}

.navbar-inverse .navbar-nav .nav-link:hover,
.navbar-inverse .navbar-nav .active>.nav-link,
.navbar-inverse .navbar-nav .nav-link.active,
.navbar-inverse .navbar-nav .nav-link.show,
.navbar-inverse .navbar-nav .show>.nav-link,
.nav-link:hover,
.active .nav-link{
	color: #DFD62F;
}

.bg-inverse{
	background-color: rgba(0,0,0,0) !important;
	border-bottom: solid 1px grey;
}

.bg-color-scroll{
	background-color: rgb(0,0,0) !important;
	padding-top: 13px;
	padding-bottom: 9px;
}

.customToggler.navbar-toggler {
    border-color: rgba(255,255,255, 0.6);
}

.customToggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

body{
	text-align: center;
}

.titulo{
	margin-top: 50px;
	margin-bottom: 40px;
	font-size: 2.0rem;
	color: #323433;
}

.quien{
	background-color: #FFF;
	padding-bottom: 100px;
	padding-top: 40px;
	border-bottom: 1px solid #DDE0DF;
}

.quien .titulo{
	text-align: left;
}

.quien p{
	text-align: left;
	font-size: 14px;
	font-size: 1.25rem;
}

.servicios{
	background-color: #F5F7F6;
	padding-bottom: 70px;
	padding-top: 40px;
	border-bottom: 1px solid #DDE0DF;
}

.titulo-sec{
	margin-right: 100px;
	margin-left: 100px;
	margin-bottom: 80px;
}

.par-sec{
	margin-right: 100px;
	margin-left: 100px;
}

.par-third{
	margin-right: 100px;
	margin-left: 100px;
	margin-bottom: 80px;
}

.tutoriaCard{
	text-align: left;
	background-color: white;
	border-radius: 7px;
	padding: 35px 20px 30px 80px;
	border: 1px solid #DDD;
}

.tutoriaCard i{
	position: absolute;
    left: 20px;
    text-align: center;
    font-size: 32px;
    color: #D9518E;
    border-radius: 50%;
}

.tutoriaCard h3{
	font-family: 'Montserrat700', sans-serif;
	font-size: 1.4rem;
	margin-bottom: 20px;
}

.tutoriaCard p{
	font-size: 1.05rem;
}

.porque{
	background-color: #FFF;
	padding-bottom: 100px;
	padding-top: 40px;
	border-bottom: 1px solid #DDE0DF;
}

.porque p{
	text-align: left;
	font-size: 14px;
	font-size: 1.4rem;
}

.porque .titulo{
	text-align: left;
	font-size: 2.0rem;
}

.porque ul{
	margin-top: 30px;
	text-align: left;
	font-size: 1.15rem;
	color: #555;
}

.porque ul li{
	margin-top: 10px;
}

.porque ul li i{
	margin-right: 10px;
	font-size: 25px;
	color: #D9518E;
	vertical-align: middle;
}

.cursos{
	background-color: #F5F7F6;
	padding-bottom: 70px;
	padding-top: 40px;
	border-bottom: 1px solid #DDE0DF;
}

.cursoCard{
	background-color: white;
	border-radius: 7px;
	padding: 40px 30px 40px 30px;
	border: 1px solid #DDD;
}

.cursoCard i{
    text-align: center;
    font-size: 50px;
    color: #D9518E;
    margin-bottom: 25px;
    border-radius: 50%;
}

.cursoCard h3{
	font-family: 'Montserrat700', sans-serif;
	font-size: 1.4rem;
	margin-bottom: 20px;
}

.cursoCard p{
	font-size: 1.05rem;
}

.donde{
	background-color: #FFF;
	padding-bottom: 70px;
	padding-top: 40px;
	border-bottom: 1px solid #DDE0DF;
}

.proyectos{
	background-color: #FFF;
	padding-bottom: 100px;
	padding-top: 40px;
}

.proyectos p{
	margin-right: 100px;
	margin-left: 100px;
}

.contacto{
	background-color: #F5F7F6;
	padding-bottom: 60px;
	padding-top: 40px;
}

.contacto p{
	margin-right: 100px;
	margin-left: 100px;
	margin-bottom: 70px;
}

.imagenDiv{
	width: 100%;
	display: block;
}

.imagenMap{
	width: 70%;
	display: block;
}

.divMap{
	display: flex;
	align-items: center;
	justify-content: center;
}

.divImagen{
	display:flex;
	align-items:center;
	justify-content:center;
	padding-top: 50px;
}

/* Media Queries segun Bootstrap*/

@media (max-width: 576px){

	.logo{
		width: 150px;
	}

	.tbienvenida{
		font-size: 1.8rem;
		margin-top: 35%;
	}

	.tbienvenida2{
		font-size: 1.8rem;
	}

	.pbienvenida{
		max-width: 90%;
	}

	.porque ul{
		margin-left: 2%;
	}
}

@media (min-width: 576px){
	.tbienvenida{
		font-size: 2.5rem;
		margin-top: 30%;
	}

	.tbienvenida2{
		font-size: 2.5rem;
	}

	.pbienvenida{
		max-width: 90%;
	}

	.porque ul{
		margin-left: 5%;
	}

	.logo{
		width: 180px;
	}

	.servicios{
		padding-left: 3%;
		padding-right: 3%;
	}

	.quien{
		padding-left: 3%;
		padding-right: 3%;
	}

	.porque{
		padding-left: 3%;
		padding-right: 3%;
	}

	.donde{
		padding-left: 3%;
		padding-right: 3%;
	}

	.contacto{
		padding-left: 3%;
		padding-right: 3%;
	}

	.cursos{
		padding-left: 3%;
		padding-right: 3%;
	}
}

@media (min-width: 768px){
	.tbienvenida{
		padding-left: 0%;
		margin-top: 25%;
	}

	.tbienvenida2{
		padding-left: 0%;
	}

	.titulo {
		font-size: 3.0rem;
	}

	.pbienvenida{
		max-width: 70%;
		padding-left: 0%;
	}

	.imagenMap{
		width: 65%;
		display: block;
	}

	.porque ul{
		margin-left: 10%;
		font-size: 1.3rem;
	}

	.porque ul li i{
		font-size: 35px;
	}

	.porque .titulo
	{
		font-size: 2.6rem;
	}
}

@media (min-width: 992px){

	.logo{
		width: 200px;
	}

	.navbar-inverse .navbar-nav .nav-link:after{
	    content: "";
	    display: block;
	    background-color: #DFD62F;
	    height: 2px;
	    width: 100%;
	    visibility: collapse;
	    -webkit-transition: 0.2s width;
	    transition: 0.2s width;
	}

	.tbienvenida{
		padding-left: 5%;
		font-size: 3.0rem;
		margin-top: 18%;
	}

	.tbienvenida2{
		padding-left: 5%;
		font-size: 3.0rem;
	}

	.pbienvenida{
		padding-left: 5%;
		max-width: 85%;
	}

	.porque p{
		text-align: left;
	}

	.porque .titulo{
		text-align: left;
		
	}

	.porque ul{
		text-align: left;
		margin-left: 0%;
	}

	.imagenMap{
		width: 50%;
		display: block;
	}

	.divImagen{
		padding-right: 5%;
		padding-left: 2%;
	}

}

@media (min-width: 1200px){

	.logo{
		width: 220px;
	}

	.pbienvenida{
		max-width: 70%;
	}

	.imagenMap{
		width: 35%;
		display: block;
	}

	.servicios{
		padding-left: 6%;
		padding-right: 6%;
	}

	.quien{
		padding-left: 6%;
		padding-right: 6%;
	}

	.porque{
		padding-left: 6%;
		padding-right: 6%;
	}

	.donde{
		padding-left: 6%;
		padding-right: 6%;
	}

	.contacto{
		padding-left: 6%;
		padding-right: 6%;
	}

	.cursos{
		padding-left: 6%;
		padding-right: 6%;
	}
}

@media (min-width: 1800px){

	.logo{
		width: 250px;
	}

	.tbienvenida{
		margin-top: 20%;
	}

	.servicios{
		padding-left: 10%;
		padding-right: 10%;
	}

	.quien{
		padding-left: 10%;
		padding-right: 10%;
	}

	.porque{
		padding-left: 10%;
		padding-right: 10%;
	}

	.donde{
		padding-left: 10%;
		padding-right: 10%;
	}

	.contacto{
		padding-left: 10%;
		padding-right: 10%;
	}

	.cursos{
		padding-left: 10%;
		padding-right: 10%;
	}
}

@media (max-width: 992px){

	.logo{
		margin: 0px;
	}

	.quien{
		padding-bottom: 30px;
		padding-top: 20px;
	}

	.quien .titulo{
		text-align: center;
		margin-left: 0%;
	}

	.quien p{
		margin-right: 15px;
		margin-left: 15px;
	}

	.par-sec{
		margin-right: 15px;
		margin-left: 15px;
	}

	.par-third{
		margin-right: 15px;
		margin-left: 15px;
	}

	.porque p{
		text-align: left;
		margin-right: 15px;
		margin-left: 15px;
	}

	.porque .titulo{
		text-align: center;
	}

	.servicios{
		padding-bottom: 30px;
		padding-top: 20px;
	}

	.titulo-sec{
		margin-right: 15px;
		margin-left: 15px;
	}

	.proyectos{
		padding-bottom: 30px;
		padding-top: 20px;
	}

	.proyectos p{
		margin-right: 15px;
		margin-left: 15px;
	}

	.contacto{
		padding-bottom: 30px;
		padding-top: 20px;
	}

	.contacto p{
		margin-right: 15px;
		margin-left: 15px;
	}

	.header-float{
		height: 100px;
	}
	
	.navbar{
		position: fixed;
		margin-top: 0;
		z-index: 10000;
	}

	.bg-inverse{
		background-color: black !important;
	}

}

form{
	text-align: center;
}

.contac{
	/* margin-top: 20px; */
	/* margin-bottom: 20px; */
}

.contac p{
	margin-left: 0;
	margin-right: 0;
	margin-top: 20px;
}

.contac i{
	font-size: 2.5rem;
	color: #D9518E;
}

footer{
	padding-top: 40px;
	height: 250px;
	background-color: #1C1D21;
	color: white;
	text-align: center;
}

footer a, footer a:hover{
	color: #fff;
	font-weight: 400;
}

footer p{
	color: #ddd;
	font-weight: 200;
	font-size: 1.0rem;
}

.pietexto{
	margin-bottom: 0;
	padding: 0;
}

.enlace-social{
	text-decoration: none;
	color: #fff;
	font-size: 3.0rem;
	display: inline-block;
	margin-right: 15px;
	margin-left: 15px;
	margin-bottom: 20px;
}

.pmensaje{
	font-size: 1.2rem;
	color: green;
	margin: 0px;
	margin-top: 25px;
}

#back-to-top {
  	display:none;
  	position: fixed;
  	bottom: 20px;
  	right: 20px;
  	width: 50px;
  	height: 50px;
  	line-height: 50px;
  	text-align: center;
  	background: #D9518E;
  	border-radius:10px;
  	color: #fff;
  	z-index: 9999;
    -webkit-transition: 0.2s opacity;
    transition: 0.2s opacity;
  	cursor: pointer;
}

#back-to-top:after {
    content: "\f106";
    font-family: 'AwesomeSolid';
    font-size: 1.2rem;
}

#back-to-top:hover {
    opacity: 0.7;
}

/*/////////////////////////////////////////////////*/


/*-------------------------------------------------- FIN ------------------------------------------------*/